.projects {
    color:#0377D7;
    min-height: 300px;
    margin-top:25%;
    padding-bottom:30px;
    
  
}

.project-items{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top:40px;
    border-top:1px solid #0377D7;
    padding: 30px;
    border-bottom:1px solid #0377D7;
}
